/* === Global Resets === */

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* === Root Typography and Layout === */

html {
  font-family: $root-font-family;
  font-size: $root-font-size;
  line-height: $root-line-height;

  @media (min-width: $large-breakpoint) {
    font-size: $large-font-size;
  }
}

/* === Body Styles and Theme Handling === */

body {
  color: $text;
  background-color: $bg;

  ::selection {
    background: #ff453a;
  }

  @media (prefers-color-scheme: light) {
    color: $light-scheme-text;
    background-color: $light-scheme-bg;

    ::selection {
      background: #2eb1c6;
    }
  }
}

/* === Base Elements === */

a {
  color: $accent;
  text-decoration: underline;
  text-underline-offset: 0.325em;

  @media (prefers-color-scheme: light) {
    color: $light-scheme-accent;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  strong {
    color: inherit;
  }
}

img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px;
}

/* === Tables === */

table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1.5px solid $header;
  border-collapse: collapse;

  @media (prefers-color-scheme: light) {
    border: 1.5px solid $light-scheme-header;
  }
}

td,
th {
  padding: .25rem .5rem;
  border: 1px dashed $header;

  @media (prefers-color-scheme: light) {
    border: 1px dashed $light-scheme-header;
  }
}

th {
  text-align: left;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: $bg;

  @media (prefers-color-scheme: light) {
    background-color: $light-scheme-bg;
  }
}

/* === Navigation Links === */

nav a {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}