---
layout: default
---

<article class="post">

  <h2 class="post-title">{{ page.title | smartify }}</h2>

  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">
    {{ page.date | date: "%A" }}, {{ page.date | date_to_long_string: "ordinal", "US" }}
  </time>

  {% if page.link %}
    <span class="source">
      source: 
      <a href="{{ page.link }}">
        {{ page.link | remove: 'http://' | remove: 'www.' | remove: 'https://' | split: '/' | first }}
      </a>
      <span class="link-arrow"> ↗</span>
    </span>
  {% endif %}

  <div class="post-content">
    {{ content | smartify }}
  </div>

  {% assign tags = page.tags %}
  {% if tags %}
    <div class="tag-list">
      {% for tag in tags %}
        <a href="{{ site.baseurl }}/tags/#{{ tag | slugize }}">{{ tag }}</a>{% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}
    </div>
  {% endif %}

</article>